<div class="content">
  <p class="lead">目的にあったスペックのダンス用のレンタルスタジオは探すだけでも時間がかかって大変・・・。「レンタルダンススタジオ検索」はこんな不便を解消します。独自のレンタル用ダンススタジオのデータベースを使って練習に必要なスタジオをシンプルなUIで簡単に検索できます。</p>
  <%= form_tag studios_path, class: "form-horizontal", method: :get do %>
    <fieldset>
      <div class="form-group">
        <% if params[:area].present? %>
          <%= select '', :area, Area.all.map{ |a| [a.city, a.id] }, {selected: params[:area]}, {class: 'form-control input-lg'} %>
        <% else %>
          <%= select '', :area, Area.all.map{ |a| [a.city, a.id] }, {prompt: 'エリア'}, {class: 'form-control input-lg'} %>
        <% end %>
      </div>
      <div class="form-group">
        <% if params[:people].present? %>
          <%= select '', :people, [['〜5人', 1], ['6〜10人', 2], ['11〜20人', 3], ['21人〜', 4]], {selected: params[:people]}, {class: 'form-control input-lg'} %>
        <% else %>
          <%= select '', :people, [['〜5人', 1], ['6〜10人', 2], ['11〜20人', 3], ['21人〜', 4]], {prompt: '人数'}, {class: 'form-control input-lg'} %>
        <% end %>
      </div>
      <div class="form-group">
        <%= button_tag '探す', class: 'btn-lg btn-info center', type: :submit %>
      </div>
    </fieldset>
  <% end %>
</div>
