<div class="content">
  <%= form_tag studios_path, class: "form-horizontal", method: :get do %>
    <fieldset>
      <div class="form-group">
        <% if params[:area].present? %>
          <%= select '', :area, Area.all.map{ |a| [a.city, a.id] }, {selected: params[:area]}, {class: 'form-control input-lg'} %>
        <% else %>
          <%= select '', :area, Area.all.map{ |a| [a.city, a.id] }, {prompt: 'エリア'}, {class: 'form-control input-lg'} %>
        <% end %>
      </div>
      <div class="form-group">
        <% if params[:people].present? %>
          <%= select '', :people, People::LABELS.map{ |k,v| [v, k]}, {selected: params[:people]}, {class: 'form-control input-lg'} %>
        <% else %>
          <%= select '', :people, People::LABELS.map{ |k,v| [v, k]}, {prompt: '人数'}, {class: 'form-control input-lg'} %>
        <% end %>
      </div>
      <div class="form-group">
        <%= button_tag '探す', class: 'btn-lg btn-info center', type: :submit %>
      </div>
    </fieldset>
  <% end %>
</div>
