<%= form_for(room) do |f| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :studio_id %>
    <%= f.number_field :studio_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :size %>
    <%= f.number_field :size %>
  </div>

  <div class="field">
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
  </div>

  <div class="field">
    <%= f.label :mirror %>
    <%= f.text_field :mirror %>
  </div>

  <div class="field">
    <%= f.label :floor %>
    <%= f.number_field :floor %>
  </div>

  <div class="field">
    <%= f.label :speaker %>
    <%= f.check_box :speaker %>
  </div>

  <div class="field">
    <%= f.label :mixer %>
    <%= f.check_box :mixer %>
  </div>

  <div class="field">
    <%= f.label :cd %>
    <%= f.check_box :cd %>
  </div>

  <div class="field">
    <%= f.label :md %>
    <%= f.check_box :md %>
  </div>

  <div class="field">
    <%= f.label :mp3 %>
    <%= f.check_box :mp3 %>
  </div>

  <div class="field">
    <%= f.label :other_source %>
    <%= f.text_field :other_source %>
  </div>

  <div class="field">
    <%= f.label :dimmable %>
    <%= f.check_box :dimmable %>
  </div>

  <div class="field">
    <%= f.label :wifi %>
    <%= f.check_box :wifi %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>

  <div class="field">
    <%= f.label :feature %>
    <%= f.text_area :feature %>
  </div>

  <div class="field">
    <%= f.label :remarks %>
    <%= f.text_area :remarks %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
