<p id="notice"><%= notice %></p>

<p>
  <strong>Studio:</strong>
  <%= @room.studio_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @room.size %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @room.capacity %>
</p>

<p>
  <strong>Mirror:</strong>
  <%= @room.mirror %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @room.floor %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @room.speaker %>
</p>

<p>
  <strong>Mixer:</strong>
  <%= @room.mixer %>
</p>

<p>
  <strong>Cd:</strong>
  <%= @room.cd %>
</p>

<p>
  <strong>Md:</strong>
  <%= @room.md %>
</p>

<p>
  <strong>Mp3:</strong>
  <%= @room.mp3 %>
</p>

<p>
  <strong>Other source:</strong>
  <%= @room.other_source %>
</p>

<p>
  <strong>Dimmable:</strong>
  <%= @room.dimmable %>
</p>

<p>
  <strong>Wifi:</strong>
  <%= @room.wifi %>
</p>

<p>
  <strong>Image:</strong>
  <%= @room.image %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @room.feature %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @room.remarks %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
