<%= form_for [:admin, studio], class: 'form-horizontal' do |f| %>
  <% if studio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(studio.errors.count, "error") %> prohibited this studio from being saved:</h2>

      <ul>
      <% studio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'スタジオ名', class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'スタジオ名(URL表記)', class: 'control-label' %>
    <%= f.text_field :slug, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'エリア', class: 'control-label' %>
    <%= f.select :area_id, Area.all.map{|a| [a.city, a.id]}, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label '住所', class: 'control-label' %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label '最寄り駅1', class: 'control-label' %>
    <%= f.text_field :nearest_station_1, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label '最寄り駅2', class: 'control-label' %>
    <%= f.text_field :nearest_station_2, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label '最寄り駅3', class: 'control-label' %>
    <%= f.text_field :nearest_station_3, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label '電話番号', class: 'control-label' %>
    <%= f.text_field :tel, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label '営業時間(開始)', class: 'control-label' %>
    <%= f.time_select :start_hours, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label '営業時間(終了)', class: 'control-label' %>
    <%= f.time_select :end_hours, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label '深夜レンタル', class: 'control-label' %>
    <%= f.check_box :late_night, class: 'checkbox' %>
  </div>

  <div class="form-group">
    <%= f.label 'ロッカールーム', class: 'control-label' %>
    <%= f.check_box :locker_room, class: 'checkbox' %>
  </div>

  <div class="form-group">
    <%= f.label '駐車場', class: 'control-label' %>
    <%= f.check_box :parking, class: 'checkbox' %>
  </div>

  <div class="form-group">
    <%= f.label 'キャンセル期限', class: 'control-label' %>
    <%= f.text_field :cancell_deadline, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'スタジオHP', class: 'control-label' %>
    <%= f.text_field :url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label '特徴', class: 'control-label' %>
    <%= f.text_area :feature, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label '備考', class: 'control-label' %>
    <%= f.text_area :remarks, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'ステータス', class: 'control-label' %>
    <%= f.select :status, Studio.statuses.keys.to_a, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label '事務局メモ', class: 'control-label' %>
    <%= f.text_area :memo, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'キャプチャ', class: 'control-label' %>
    <%= f.file_field :image, accept: 'image/jpeg', class: 'filestyle', width: '50%' %>
    <%= image_tag studio_image_studio_url(@studio), width: '30%', style: 'margin: 20px;text-align:right;' if @studio.image %>
  </div>

  <div class="form-group">
    metaデータ
    <ul>
      <li>
        <%= f.label 'title', class: 'control-label' %>
        <%= f.text_area :meta_title, class: 'form-control' %>
      </li>
      <li>
        <%= f.label 'description', class: 'control-label' %>
        <%= f.text_area :meta_description, class: 'form-control' %>
      </li>
      <li>
        <%= f.label 'ogp_image', class: 'control-label' %>
        <%= f.text_area :meta_ogp_image_url, class: 'form-control' %>
      </li>
    </ul>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
