<%= form_for [:admin, studio], class: 'form-horizontal' do |f| %>
  <% if studio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(studio.errors.count, "error") %> prohibited this studio from being saved:</h2>

      <ul>
      <% studio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'スタジオ名', class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'スタジオよも' %>
  </div>

  <div class="form-group">
    <%= f.label 'スタジオ名(URL表記)', class: 'control-label' %>
    <%= f.text_field :slug, class: 'form-control', placeholder: 'studio-yomo' %>
  </div>

  <div class="form-group">
    <%= f.label 'エリア', class: 'control-label' %>
    <%= f.select :area_id, Area.all.map{|a| [a.city, a.id]}, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label '住所', class: 'control-label' %>
    <%= f.text_field :address, class: 'form-control', placeholder: '東京都目黒区上目黒1-18-11-604' %>
  </div>

  <div class="form-group">
    <%= f.label '最寄り駅1', class: 'control-label' %>
    <%= f.text_field :nearest_station_1, class: 'form-control', placeholder: '中目黒' %>
  </div>

  <div class="form-group">
    <%= f.label '最寄り駅2', class: 'control-label' %>
    <%= f.text_field :nearest_station_2, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label '最寄り駅3', class: 'control-label' %>
    <%= f.text_field :nearest_station_3, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label '電話番号', class: 'control-label' %>
    <%= f.text_field :tel, class: 'form-control', placeholder: '03-6883-9722' %>
  </div>

  <div class="form-group">
    <%= f.label '営業時間(開始)', class: 'control-label' %>
    <%= f.time_select :start_hours, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label '営業時間(終了)', class: 'control-label' %>
    <%= f.time_select :end_hours, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label '深夜レンタル', class: 'control-label' %>
    <%= f.select :late_night, [ [ '無', 0 ], [ '有', 1 ], [ '不明', 99 ]], class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'ロッカールーム', class: 'control-label' %>
    <%= f.select :locker_room, [ [ '無', 0 ], [ '有', 1 ], [ '不明', 99 ]], class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label '駐車場', class: 'control-label' %>
    <%= f.select :parking, [ [ '無', 0 ], [ '有', 1 ], [ '不明', 99 ]], class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'キャンセル期限', class: 'control-label' %>
    <%= f.text_field :cancell_deadline, class: 'form-control', placeholder: '前日50％ 当日100％' %>
  </div>

  <div class="form-group">
    <%= f.label 'スタジオHP', class: 'control-label' %>
    <%= f.text_field :url, class: 'form-control', placeholder: 'http://www.vintom.co.jp' %>
  </div>

  <div class="form-group">
    <%= f.label '特徴', class: 'control-label' %>
    <%= f.text_area :feature, class: 'form-control', placeholder: '日本最大のストリートダンサー専門プロダクションの運営、日本一の大学ダンスサークルを決めるJapan Dancers’ Championshipをはじめとしたイベント企画・制作、他社メディアとも提携したダンサープラットフォームを活かしたブランド認知支援・広告宣伝活動支援などダンスに関わる様々な事業を行っています。' %>
  </div>

  <div class="form-group">
    <%= f.label '備考', class: 'control-label' %>
    <%= f.text_area :remarks, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'ステータス', class: 'control-label' %>
    <%= f.select :status, Studio.statuses.keys.to_a, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label '事務局メモ', class: 'control-label' %>
    <%= f.text_area :memo, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'キャプチャ', class: 'control-label' %>
    <%= f.fields_for :studio_images do |image| %>
      <%= image.file_field :url, class: 'filestyle', width: '50%' %>
    <% end %>
    <% @studio.studio_images.each do |i| %>
      <%= image_tag i.url, width: '16%', style: 'margin: 20px;text-align:right;'%>
    <% end %>
  </div>

  <div class="form-group">
    metaデータ
    <ul>
      <li>
        <%= f.label 'title', class: 'control-label' %>
        <%= f.text_area :meta_title, class: 'form-control' %>
      </li>
      <li>
        <%= f.label 'description', class: 'control-label' %>
        <%= f.text_area :meta_description, class: 'form-control' %>
      </li>
      <li>
        <%= f.label 'ogp_image', class: 'control-label' %>
        <%= f.text_area :meta_ogp_image_url, class: 'form-control' %>
      </li>
    </ul>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
