<div class="studio studio-box col-xs-12 col-sm-4">
  <div class="left">
    <%= link_to studio_path(studio) do %>
      <% if studio.image %>
        <%= image_tag studio_image_studio_path(studio) %>
      <% else %>
        <%= image_tag '/images/no_image.jpg' %>
      <% end %>
    <% end %>
  </div>
  <div class="right">
    <div class="studio-name"><strong><%= studio.name %></strong></div>
    <div class="station">
      <%= "#{studio.nearest_station_1}駅" -%>
      <%= " 他" if studio.nearest_station_2.present? %>
    </div>
    <div class="studio-button"><%= link_to '詳細はこちら >>', studio_path(studio), class: 'btn btn-info btn-block' %></div>
    <div class="studio-button">
      <% if studio.tel.present? %>
        <%= tel_to studio.tel, sanitize("<i class='fa fa-phone'></i> #{studio.tel}"), {class: 'btn btn-success btn-block', onclick: "ga('send', 'event', 'studio', 'tel', '', 0, {'nonInteraction': 1});"} %>
      <% else %>
        <div style="padding: 23px 0;"></div>
      <% end %>
    </div>
  </div>
</div>
