<%= link_to studio_path(studio.id), class: 'studio' do %>
  <div class="studio-box">
    <div class="left col-xs-12 col-sm-6">
      <%= image_tag 'studio' %>
    </div>
    <div class="right col-xs-12 col-sm-6">
      <ul>
        <li><h3><%= studio.name %></h3></li>
        <li>
          <%= "#{studio.nearest_station_1}駅" -%>
          <%= " 他" if studio.nearest_station_2.present? %>
        </li>
        <li>
          <%= button_tag '詳細はこちら >>', class: 'btn btn-info' %>
        </li>
        <li>
          <%= button_tag sanitize("<i class='fa fa-phone'></i>#{studio.tel}"), class: 'btn btn-success' %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
