<div class="studio studio-box col-xs-12 col-sm-4">
  <div class="left">
    <%= link_to studio_path(studio) do %>
      <% if studio.studio_images.present? %>
        <%= image_tag studio.studio_images.first.url.to_s %>
      <% elsif studio.image.present? %>
        <%= image_tag studio_image_studio_path(studio) %>
      <% else %>
        <%= image_tag 'no_image.jpg' %>
      <% end %>
      <% if studio.rooms.first.price != 0 %>
        <% if studio.rooms.size == 1 %>
          <p class="price_unit"><%= format_jpy(studio.rooms.first.price) %> <small>/h</small></p>
        <% else %>
          <p class="price_unit"><%= format_jpy(studio.rooms.pluck(:price).min) %> ~ <%= format_jpy(studio.rooms.pluck(:price).max) %> <small>/h</small></p> 
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="right">
    <div class="studio-name"><strong><%= studio.name %></strong></div>
    <div class="station">
      <%= "#{studio.nearest_station_1}駅" -%>
      <%= " 他" if studio.nearest_station_2.present? %>
    </div>
    <div class="studio-button"><%= link_to sanitize("<i class='fas fa-chevron-circle-right'></i> 詳細はこちら"), studio_path(studio), class: 'btn btn-info btn-block' %></div>
    <div class="studio-button">
      <% if studio.tel.present? %>
        <%= tel_to studio.tel, sanitize("<i class='fa fa-phone'></i> #{studio.tel}"), {class: 'btn btn-success btn-block', onclick: "ga('send', 'event', 'studio', 'tel', '#{studio.slug}', 0, {'nonInteraction': 1});"} %>
      <% else %>
        <div style="padding: 23px 0;"></div>
      <% end %>
    </div>
  </div>
</div>
