<%= link_to studio_path(studio.id), class: 'studio' do %>
  <div class="studio-box">
    <div class="left col-xs-12 col-sm-6">
      <%= image_tag 'studio' %>
    </div>
    <div class="right col-xs-12 col-sm-6">
      <ul>
        <li>店舗名:<%= studio.name %></li>
        <li>営業時間:<%= "#{studio.start_hours&.strftime("%H:%M")} - #{studio.end_hours&.strftime("%H:%M")}" %></li>
        <li>電話番号:<%= studio.tel %></li>
        <li>最寄駅:<%= studio.nearest_station_1 %></li>
        <li>スタジオ数:<%= studio.rooms.size %></li>
        <li>広さ:<%= "#{studio.rooms.minimum(:size)} 〜 #{studio.rooms.maximum(:size)}㎡" %></li>
      </ul>
      <div class="bottom">
        <%= button_tag '詳 細 は こ ち ら >>', class: 'btn btn-info' %>
      </div>
    </div>
  </div>
<% end %>
