<div class="studio studio-box col-xs-12 col-sm-4">
  <div class="left">
    <%= link_to studio_path(studio.id) do %>
      <%= image_tag studio_image_studio_path(studio) %>
    <% end %>
  </div>
  <div class="right">
    <div class="studio-name"><strong><%= studio.name %></strong></div>
    <div class="station">
      <%= "#{studio.nearest_station_1}駅" -%>
      <%= " 他" if studio.nearest_station_2.present? %>
    </div>
    <div class="studio-button"><%= link_to '詳細はこちら >>', studio_path(studio.id), class: 'btn btn-info btn-block' %></div>
    <div class="studio-button"><%= tel_to studio.tel, sanitize("<i class='fa fa-phone'></i> #{studio.tel}"), class: 'btn btn-success btn-block' %></div>
  </div>
</div>
