<p id="notice"><%= notice %></p>

<div class="row">
  <div class="hit-count col-xs-12 col-sm-12"><%= @studios.count %>件がヒットしました</div>
  <div class="col-xs-12 col-sm-8">
    <% @studios.each do |studio| %>
      <%= link_to studio_path(studio.id) do %>
        <div class="studio-box">
          <div class="left col-xs-12 col-sm-6">
            <%= image_tag 'studio' %>
          </div>
          <div class="right col-xs-12 col-sm-6">
            <ul>
              <li>店舗名:<%= studio.name %></li>
              <li>営業時間:<%= "#{studio.start_hours&.strftime("%H:%M")} - #{studio.end_hours&.strftime("%H:%M")}" %></li>
              <li>電話番号:<%= studio.tel %></li>
              <li>最寄駅:<%= studio.nearest_station_1 %></li>
              <li>スタジオ数:</li>
              <li>広さ:</li>
            </ul>
            <div class="bottom">
              <%= button_tag '詳細はこちら>>', class: 'btn-lg btn-info' %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-4 panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">詳細絞込み</h3>
    </div>
    <div class="panel-body">
      <p>深夜レンタル(<%= link_to @studios.select{ |s| s.late_night }.size ,studios_path(area: params[:area], people: params[:people], late_night: 1) %>)</p>
      <p>ロッカールーム(<%= link_to @studios.select{ |s| s.locker_room }.size ,studios_path(area: params[:area], people: params[:people], locker_room: 1) %>)</p>
      <p>駐車場(<%= link_to @studios.select{ |s| s.parking }.size ,studios_path(area: params[:area], people: params[:people], parking: 1) %>)</p>
    </div>
  </div>
</div>
