<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @studio.name %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @studio.prefecture %>
</p>

<p>
  <strong>City:</strong>
  <%= @studio.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @studio.address %>
</p>

<p>
  <strong>Nearest station 1:</strong>
  <%= @studio.nearest_station_1 %>
</p>

<p>
  <strong>Nearest station 2:</strong>
  <%= @studio.nearest_station_2 %>
</p>

<p>
  <strong>Nearest staion 3:</strong>
  <%= @studio.nearest_staion_3 %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @studio.tel %>
</p>

<p>
  <strong>Start hours:</strong>
  <%= @studio.start_hours %>
</p>

<p>
  <strong>End hours:</strong>
  <%= @studio.end_hours %>
</p>

<p>
  <strong>Late night:</strong>
  <%= @studio.late_night %>
</p>

<p>
  <strong>Locker room:</strong>
  <%= @studio.locker_room %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @studio.parking %>
</p>

<p>
  <strong>Cancell deadline:</strong>
  <%= @studio.cancell_deadline %>
</p>

<p>
  <strong>Image:</strong>
  <%= @studio.image %>
</p>

<p>
  <strong>Url:</strong>
  <%= @studio.url %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @studio.feature %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @studio.remarks %>
</p>

<%= link_to 'Edit', edit_studio_path(@studio) %> |
<%= link_to 'Back', studios_path %>
