<div class="studio-detail">
  <div class="studio-detail-top">
    <% if @studio.studio_images.size > 1 %>
      <div class="slick-box"%>
        <% @studio.studio_images.each do |image| %>
          <div><%= image_tag image.url %></div>
        <% end %>
      </div>
    <% else %>
      <% if @studio.studio_images.present? %>
        <%= image_tag @studio.studio_images.first.url %>
      <% elsif @studio.image %>
        <%= image_tag studio_image_studio_path(@studio) %>
      <% else %>
        <%= image_tag 'no_image.jpg' %>
      <% end %>
    <% end %>
    <h1><%= @studio.name %></h1>
    <%= "#{@studio.nearest_station_1}駅" -%>
    <%= ", #{@studio.nearest_station_2}駅" if @studio.nearest_station_2.present? -%>
    <%= ", #{@studio.nearest_station_3}駅" if @studio.nearest_station_3.present? -%>
  </div>
  <div class="studio-detail-top">
    <div class="studio-detail-description">
      <%== @studio.feature %>
    </div>
    <div class="studio-detail-list">
      <!--<h2>スタジオ情報</h2>-->
      <p class="studio-list">電話番号: <strong><%= tel_to @studio.tel, @studio.tel, onclick: "ga('send', 'event', 'studio', 'tel', '#{@studio.slug}', 0, {'nonInteraction': 1});" %></strong></p>
      <p class="studio-list">営業時間:
        <strong>
          <% if @studio.late_night %>
            <%= "#{@studio.start_hours&.strftime("%H:%M")} - #{(@studio.end_hours.hour + 24 ).to_s + @studio.end_hours&.strftime(":%M")}" %>
          <% else %>
            <%= "#{@studio.start_hours&.strftime("%H:%M")} - #{@studio.end_hours&.strftime("%H:%M")}" %>
          <% end %>
        </strong>
      </p>
      <% if @studio.address.present? %>
        <p class="studio-list">住所: <strong><%= @studio.address %></strong></p>
      <% end %>
      <p class="studio-list">深夜レンタル: <strong><%= @studio.late_night ? 'あり' : 'なし' %></strong></p>
      <p class="studio-list">更衣室: <strong><%= @studio.locker_room ? 'あり' : 'なし' %></strong></p>
      <p class="studio-list">駐車場: <strong><%= @studio.parking ? 'あり' : 'なし' %></strong></p>
      <p class="studio-list">キャンセル期限: <strong><%= @studio.cancell_deadline.blank? ? '特になし' : @studio.cancell_deadline %></strong></p>
      <p class="studio-list">備考: <strong><%= @studio.remarks.blank? ? '特になし' : @studio.remarks %></strong></p>
    </div>
  </div>
    <% if @studio.rooms.displayed.present? %>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center">スタジオ名</th>
            <th class="text-center">広さ(㎡)</th>
            <th class="text-center">最大人数</th>
            <th class="text-center">料金(1h)</th>
            <% if !request.variant.include?(:phone) %>
              <th class="text-center">鏡</th>
              <th class="text-center">床材</th>
              <!--
              <th class="text-center">スピーカー</th>
              <th class="text-center">ミキサー</th>
              -->
              <th class="text-center">CD</th>
              <th class="text-center">MD</th>
              <th class="text-center">mp3</th>
              <!--
                <th class="text-center">その他音源</th>
              -->
              <th class="text-center">照明調光</th>
              <th class="text-center">wifi</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @studio.rooms.displayed.order('capacity desc').each do |room| %>
          <tr>
            <td align="center"><%= room.name %></td>
            <td align="center"><%= room.size %></td>
            <td align="center"><%= room.capacity %></td>
            <td align="right"><%= room.price == 0 ? '※' : format_jpy(room.price) %></td>
            <% if !request.variant.include?(:phone) %>
              <td class="text-center"><%= table_format(room.mirror) %></td>
              <td class="text-center"><%= room.floor %></td>
              <!--
              <td class="center"><%= room.speaker %></td>
              <td class="center"><%= room.mixer %></td>
              -->
              <td class="text-center"><%= table_format(room.cd) %></td>
              <td class="text-center"><%= table_format(room.md) %></td>
              <td class="text-center"><%= table_format(room.mp3) %></td>
              <!--
                <td class="center"><%= room.other_source %></td>
              -->
              <td class="text-center"><%= table_format(room.dimmable) %></td>
              <td class="text-center"><%= table_format(room.wifi) %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table> 
      <p class="right smaller">※最大人数、料金は目安です。詳細はスタジオにお問い合わせください。</p>
    <% end %>
  <% if @studio.latlng.present? || @studio.address.present? %>
    <div class="studio-googlemap">
      <iframe src="http://www.google.com/maps/embed/v1/place?key=<%= APP_CONFIG["googlemaps_api_key"] %>&q=<%= @studio.latlng || @studio.address %>" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  <% end %>
  <div class="studio-detail-btn-box">
    <%= link_to sanitize("<i class='fas fa-chevron-circle-right'></i> スタジオのWEBサイトへ"), @studio.url, class: "btn btn-info btn-lg btn-block", target: "_blank", onclick: "ga('send', 'event', 'studio', 'click', '', 0, {'nonInteraction': 1});" if @studio.url.present? %>
    <%= tel_to @studio.tel, sanitize("<i class='fa fa-phone'></i> #{@studio.tel}"), {class: 'btn btn-success btn-lg btn-block', onclick: "ga('send', 'event', 'studio', 'tel', '#{@studio.slug}', 0, {'nonInteraction': 1});"} if @studio.tel.present? %>
  </div>
  <% if @recommend_studios.present? %>
    <div class="recommend"> 
      <p class="text-center recommend-wordbreak"><%= @studio.name %>を見ている人は、こんなスタジオも検索して見ています</p>
      <div class="recommend-block">
        <% @recommend_studios.each do |studio| %>
          <div class="col3 recommend-block-each">
            <%= link_to studio do %>
              <div class="recommend-img">
                <% if studio.studio_images || studio.image %>
                  <% if studio.studio_images.present? %>
                    <%= image_tag studio.studio_images.first.url.to_s, class: "recommend" %>
                  <% else %>
                    <%= image_tag studio_image_studio_path(studio), class: "recommend" %>
                  <% end %>
                  <% if studio.rooms.first.price != 0 %>
                    <% if studio.rooms.size == 1 %>
                      <p class="price_unit"><%= format_jpy(studio.rooms.first.price) %> <small>/h</small></p>
                    <% else %>
                      <p class="price_unit"><%= format_jpy(studio.rooms.pluck(:price).min) %> ~ <%= format_jpy(studio.rooms.pluck(:price).max) %> <small>/h</small></p>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= image_tag 'no_image.jpg', class: "recommend" %>
                <% end %>
              </div>
            <% end %>
            <div class="studio-name"><strong><%= studio.name %></strong></div>
            <div class="text-left">
              <%= "#{studio.nearest_station_1}駅" -%>
              <%= ",#{studio.nearest_station_2}駅" if studio.nearest_station_2.present? -%>
              <%= ",#{studio.nearest_station_3}駅" if studio.nearest_station_3.present? -%>
            </div>
            <p class="text-right recommend-more-info">
              <%= link_to studio_path(studio), method: :get do %>
                <i class="fas fa-chevron-circle-right"></i> 詳細はこちら
              <% end %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
$(function() {
  $('.slick-box').slick({
    autoplay: true,
    autoplaySpeed: 3000,
    centerMode: true,
    centerPadding: '30px',
    prevArrow: '<button class="slide-arrow prev-arrow"></button>',
    nextArrow: '<button class="slide-arrow next-arrow"></button>',
    dots: true,
    arrows: true,
    infinite: true,
    responsive: [{
      breakpoint: 768,
      settings: {
        arrows: false
      }
    }]
  });
});
</script>
