<!DOCTYPE html>
<html>
  <head>
    <title><%= @studio.meta_title.presence || "#{@studio.name} | レンタルダンススタジオ検索" %></title>
    <meta name="description"  content="<%= @studio.meta_description.presence || "#{@studio.name}の詳細ページです。スタジオの広さ、料金、営業時間といった基本情報から更衣室や駐車場、wifiの有無まで様々な情報を記載しています。" %>"/>
    <link rel="shortcut icon" href="https://sagasu.space/images/vintom.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="<%= @studio.meta_title.presence || "#{@studio.name} ｜ レンタルダンススタジオ検索" %>"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= studio_url(@studio.id) %>" />
    <meta property="og:image" content="<%= @studio.meta_ogp_image_url || image_url(studio_image_studio_path(@studio)) %>" />
    <meta property="og:site_name" content="レンタルダンススタジオ検索" />
    <meta property="og:description" content="<%= @studio.meta_description.presence || "#{@studio.name}の詳細ページです。スタジオの広さ、料金、営業時間といった基本情報から更衣室や駐車場、wifiの有無まで様々な情報を記載しています。" %>"/>
    <meta property="fb:app_id" content="1170194636409472">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render partial: 'shared/google_analytics' %>
  </head>

  <body>
    <nav class="navbar-fixed-top navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'レンタルダンススタジオ検索',root_path, class: 'navbar-brand'%>
        </div>
    
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <%= form_tag studios_path, class: "navbar-form navbar-right", role: "search", method: :get do %>
            <div class="form-group">
              <% if params[:area].present? %>
                <%= select '', :area, Area.all.map{ |a| [a.city, a.id] }, {selected: params[:area]}, {class: 'form-control'} %>
              <% else %>
                <%= select '', :area, Area.all.map{ |a| [a.city, a.id] }, {prompt: 'エリア'}, {class: 'form-control'} %>
              <% end %>
            </div>
            &nbsp;
            <div class="form-group">
              <% if params[:people].present? %>
                <%= select '', :people, [['〜5人', 1], ['6〜10人', 2], ['〜11〜20人', 3], ['21人〜', 4]], {selected: params[:people]}, {class: 'form-control'} %>
              <% else %>
                <%= select '', :people, [['〜5人', 1], ['6〜10人', 2], ['〜11〜20人', 3], ['21人〜', 4]], {prompt: '人数'}, {class: 'form-control'} %>
              <% end %>
            </div>
            &nbsp;
            <%= button_tag '探す', class: 'btn btn-info', type: :submit %>
          <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>
    <a href="http://vintom.co.jp/" target='_blank'>
      <div class="footer-copyright col-sm-12">
        <%= image_tag('/images/vintom_logo.png') %>
        <p><small>All Right Reserved. Vintom, Inc.</small></p>
      </div>
    </a>
  </body>
</html>
