<!DOCTYPE html>
<html>
  <head>
    <title><%= @area %>の<%= @people %>レンタルダンススタジオまとめ</title>
    <meta name="description"  content="<%= @area %>の<%= @people %>レンタル可能なダンススタジオをまとめました。「レンタルダンススタジオ検索」は更衣室の有無やwifi有無など、様々な条件であなたの目的にあったダンスの練習用貸しスタジオを検索できます。"/>
    <link rel="shortcut icon" href="https://sagasu.space/images/vintom.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="<%= @area %>の<%= @people %>レンタルダンススタジオまとめ" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sagasu.space/" />
    <meta property="og:image" content="https://sagasu.space/images/top.jpg" />
    <meta property="og:site_name" content="レンタルダンススタジオ検索" />
    <meta property="og:description" content="<%= @area %>の<%= @people %>レンタル可能なダンススタジオをまとめました。「レンタルダンススタジオ検索」は更衣室の有無やwifi有無など、様々な条件であなたの目的にあったダンスの練習用貸しスタジオを検索できます。"/>
    <meta property="fb:app_id" content="1170194636409472">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render partial: 'shared/google_analytics' %>
  </head>

  <body>
    <nav class="navbar-fixed-top navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'レンタルダンススタジオ検索',root_path, class: 'navbar-brand'%>
        </div>
    
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <%= form_tag studios_path, class: "navbar-form navbar-right", role: "search", method: :get do %>
            <div class="form-group">
              <% if session[:area].present? %>
                <%= select '', :area, Area.all.map{ |a| [a.city, a.slug] }, {selected: session[:area]}, {class: 'form-control'} %>
              <% else %>
                <%= select '', :area, Area.all.map{ |a| [a.city, a.slug] }, {prompt: 'エリア'}, {class: 'form-control'} %>
              <% end %>
            </div>
            &nbsp;
            <div class="form-group">
              <% if session[:people].present? %>
                <%= select '', :people, People::LABELS.map{ |k,v| [v, k]}, {selected: session[:people]}, {class: 'form-control'} %>
              <% else %>
                <%= select '', :people, People::LABELS.map{ |k,v| [v, k]}, {prompt: '人数'}, {class: 'form-control'} %>
              <% end %>
            </div>
            &nbsp;
            <%= button_tag '探す', class: 'btn btn-info', type: :submit %>
          <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>
    <a href="http://vintom.co.jp/" target='_blank'>
      <div class="footer-copyright col-sm-12">
        <%= image_tag('vintom_logo.png') %>
        <p><small>All Right Reserved. Vintom, Inc.</small></p>
      </div>
    </a>
  </body>
</html>
