<!DOCTYPE html>
<html>
  <head>
    <title>レンタルダンススタジオ検索</title>
    <meta name="description"  content="目的にあったスペックのダンス用のレンタルスタジオは探すだけでも時間がかかって大変・・・。「レンタルダンススタジオ検索」はこんな不便を解消します。独自のレンタル用ダンススタジオのデータベースを使って練習に必要なスタジオをシンプルなUIで簡単に検索できます。"/>
    <link rel="shortcut icon" href="<%= image_url('/images/vintom.png') %>" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="レンタルダンススタジオ検索" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://sagasu.space/" />
    <meta property="og:image" content="<%= image_url('/images/top.jpg') %>" />
    <meta property="og:site_name" content="Vintom" />
    <meta property="og:description" content="目的にあったスペックのダンス用のレンタルスタジオは探すだけでも時間がかかって大変・・・。「レンタルダンススタジオ検索」はこんな不便を解消します。独自のレンタル用ダンススタジオのデータベースを使って練習に必要なスタジオをシンプルなUIで簡単に検索できます。" /> 
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'top', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render partial: 'shared/google_analytics' %>
  </head>

  <body>
    <nav class="navbar-fixed-top navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'レンタルダンススタジオ検索', root_path, class: 'navbar-brand' %>
        </div>
      </div>
    </nav>
    <%= yield %>
    <div class="footer-copyright">
      <%= image_tag('/images/vintom_logo.png') %>
      <p><small>All Right Reserved. Vintom, Inc.</small></p>
    </div>
  </body>
</html>
